# Install {{ cookiecutter.package_name }} as an editable package
-e .

# testing
pytest
pytest-cov

# linting and code style
flake8
flake8-blind-except
flake8-docstrings
flake8-quotes
pep8-naming

# packaging
wheel